<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>
        <strong>Events</strong>
      </mat-card-title>
    </mat-card-header>

    <i *ngIf="loading" class="fa fa-spinner fa-spin fa-5x" aria-hidden="true">
    </i>

    <div *ngIf="(slicedEvents.length<=0) && (!loading)">
      No content
    </div>

    <mat-list *ngIf="(slicedEvents.length>0) && (!loading)">
      <mat-list-item *ngFor="let event of slicedEvents">
        <h4 mat-line>{{event.type}} </h4>
        <p mat-line>{{event.created_at|date:'short'}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>