$navbar-height: 70px;
$container-height: calc(100vh - #{$navbar-height});
$container-padding:10px;
$container-margin:10px;
$left-bar-width:260px;
$search-bar-height:50px;
$event-container-height-to-minus:$search-bar-height+($container-padding + $container-margin) * 4;
$table-width-to-minus:$left-bar-width+($container-padding + $container-margin) * 4;
.flex-container {
    display: flex;
    flex-flow: column wrap;
    height: $container-height;
    align-items: center;
}

app-search-bar,
app-user-event {
    padding: $container-padding;
    margin: $container-margin;
    width: $left-bar-width;
}

app-search-bar {
    height: $search-bar-height;
}

app-user-event {
    height: calc(#{$container-height} - #{$event-container-height-to-minus});
}

app-repository-table {
    height: calc(#{$container-height} - (#{$container-padding} + #{$container-margin}) * 2);
    width: calc(100vw - #{$table-width-to-minus});
    padding: $container-padding;
    margin: $container-margin;
}

@media (max-width: 720px) {
    app-repository-table,
    app-search-bar,
    app-user-event {
        width: 94vw;
    }
    app-user-event {
        height: 100vh;
    }
    .flex-container {
        flex-wrap: nowrap;
    }
}