.flex-container {
    display: flex;
    flex-flow: column wrap;
    height: calc(100vh - 70px);
    align-items: center;
}

app-search-bar,
app-user-event {
    padding: 10px 10px;
    width: 250px;
}

app-search-bar {
    height: 50px;
}

app-user-event {
    height: calc(100vh - 160px);
}

app-repository-table {
    width: 80%;
}

@media (max-width: 720px) {
    app-repository-table,
    app-search-bar,
    app-user-event {
        width: 94vw;
    }
    .flex-container {
        flex-wrap: nowrap;
    }
}