.search-bar-form{
    padding:10px 10px 10px 10px;
}

.search-bar{
    height:38px;
}

.search-input{
    border: 0;
}

.input-group-addon{
    background-color: white;
    border:0;
    padding-right: 0;
}

.category-select{
    border: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding :0 0 0 0;
    font-weight: bold;    
}

.category-select:hover{
    background-color: #eff2f7;    
}

.category-select:focus{
    background-color: #ccc;
    border:1px solid #acb0b7;
}

.category-select:focus>option{
    background-color: white;
}

.category-select:hover{
    cursor: pointer;
}

.category-select:checked {
    background-color: rgb(169, 169, 169);    
}

.btn-search{
    background-color:#d87e01
}
.btn-search:hover{
    background-color: #f19608;
}
.search-bar-background{
    background-color: #fbcc48;    
}