<div class="container">
    <div class="row">
        <div class="col">
            <form class="search-bar-form search-bar-background">
                <div class="form-row">
                    <div class="input-group col-md-5 search-bar">
                        <input type="text" class="form-control search-input" placeholder="Search" aria-label="Search">
                        <span class="input-group-addon">in</span>
                        <div class="input-group-btn" [style.width.px]="widthOfInputGroup">
                            <select class="form-control category-select" (change)="select($event.target.value)">
                                <option>all categories</option>
                                <option *ngFor="let category of (oneLevelCategory$|async).Subcategories">
                                    {{category.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-search">
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>