<div class="row">
    <div class="col">
        <form autocomplete="off">
            <div class="form-group">
                <input [value]="query" (input)="interval = $event.target.value" placeholder="Set interval" autofocus>ms
                <button (click)="sendActions(interval)">Send Actions</button>
            </div>
        </form>
    </div>
</div>

<!-- <div *ngIf="timesOfLoop==0">No action is sent</div>
<div *ngIf="timesOfLoop!=0">
    The No.{{timesOfLoop}} action is sent
</div> -->