<div class="row">
    <div class="col sub-nav-col">
        <button class="btn btn-lg btn-danger text-white btn-block rounded-0" type="button">
            Marketplace
        </button>
    </div>
    <div class="col sub-nav-col">
        <button class="btn btn-lg btn-warning text-white btn-block rounded-0" type="button">
            Jobs
        </button>
    </div>
    <div class="col sub-nav-col">
        <button class="btn btn-lg btn-secondary text-white btn-block rounded-0" type="button">
            Motors
        </button>
    </div>
    <div class="col sub-nav-col-right">
        <button class="btn btn-lg btn-success text-white btn-block rounded-0" type="button">
            Property
        </button>
    </div>
</div>
