<div class="row">
    <div class="col">
        <button class="btn btn-lg btn-danger rounded-0" type="button">
            Marketplace
        </button>
    </div>
    <div class="col">
        <button class="btn btn-lg btn-warning text-white rounded-0" type="button">
            Jobs
        </button>
    </div>
    <div class="col">
        <button class="btn btn-lg btn-secondary text-white rounded-0" type="button">
            Motors
        </button>
    </div>
    <div class="col sub-nav-col-right">
        <button class="btn btn-lg btn-success text-white rounded-0" type="button">
            Property
        </button>
    </div>
</div>
