<div class="product-carousel-container">
    <div class="row">
        <div class="col carousel-title">
            <span class="carousel-left-title">{{title}}</span>
            <a [routerLink]="['']" class="carousel-view-all">View all</a>
        </div>
    </div>

    <div class="row product-container">
        <div class="col-1 btn-left">
            <button [disabled]="currentIndex<=0" class="btn" (click)="toLeft()">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button>
        </div>
        <div *ngFor="let item of currentList" class="col">
            <div class="item-container" (click)="selectItem(item)">
                <div class="img-container">
                    <img src="{{item.PictureHref}}" alt="Responsive image">
                </div>
                <div class="info">
                    <div class="title">{{item.Title}}</div>
                    <div class="bid-price">
                        {{item.PriceDisplay}}
                    </div>
                    <div class="buy-now-price">
                        {{item.BuyNowPrice}}
                    </div>
                </div>
                <div class="overlay">
                    <p class="overlay-location">{{item.Region}}</p>
                    <h5 class="overlay-title">{{item.Title}}</h5>
                    <div class="bid-price">
                        {{item.PriceDisplay}}
                    </div>
                    <div class="reserve-info">
                        {{item.HasReserve?'Reserve Met':'No Reserve'}}
                    </div>
                    <div class="buy-now-price">
                        {{item.BuyNowPrice}}
                    </div>
                    <div class="buy-now-info">
                        {{item.BuyNowPrice?'Buy Now':''}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 btn-right">
            <button [disabled]="currentIndex>(numToDisplay-10)" class="btn" (click)="toRight()">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>