.product-carousel-container{
    padding-top:0;
}

/* carousel title */
.carousel-title{
    margin:15px 0 20px 0;
    position: relative;
}

.carousel-left-title{
    font-weight: normal;
    font-size: 25px;
}

.carousel-view-all{
    position: absolute;
    right:0;
    bottom:0;
    font-weight: normal;
    font-size: 20px;
}

/* Listings container */
.product-container{
    height:200px;
}

img{
    transition:height .3s ease .001s;
    width: 100%;
    height: 100%;
    margin-left:0;
    position:relative;    
}

button{
    background: #f8f8f8;
}

button:hover{
    cursor: pointer;
}

button:hover:disabled{
    cursor: not-allowed;
}

.btn-left{
    padding-left:0px;
}

.btn-right{
    padding-right:0px;
}

/* Listings */
.item-container{
    padding:0 0 0 0;
    height:200px;
    margin-left:0;
    position:relative;
    border-style: groove;
}

.item-container:hover{
    cursor: pointer;
}

.item-container:hover .overlay {
    height: 100%;
}

.img-container{
    height: 66%;
}

.info{
    padding:0 0 0 0;    
    height: 34%;
    background-color:#f8f8f8;
    bottom: 0;
    width:100%;
    position: absolute;
}

.title{
    transition: max-height .3s ease .001s;
    max-height: 18px;
    margin-top: 5px;
    margin-left: 7px;
    line-height: 18px;
    height: auto;
    color: #525252;
}


.buy-now-price{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.bid-price{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

.overlay-location{
    position: absolute;    
    top:20%;
    color:#b3b3b3;
}

.overlay-title{
    top:35%;    
    position: absolute;
    color:#0297d2;    
}

.overlay>.bid-price{
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.reserve-info{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color:#b3b3b3;
}

.overlay>.buy-now-price{
    position: absolute;
    bottom: 25px;
    right: 5px;
}

.buy-now-info{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color:#b3b3b3;
}


