.home-container{
    padding-top:25px;
}

.home-container-background{
    background-color: #efefef;
}

.subpage-padding{
    padding-top:10px;
    padding-bottom:10px;
}

.grey-background{
    background-color: #efefef;    
}
